<h1> about page </h1>

<p>
<%= @about_me %>
</p>

<h1>
<% if user_signed_in?  %>

<%= current_user.inspect %>

<% end %>


</h1>

<h3>
<%=  @users.inspect %>
</h3>



<h3>Friend with user </h3>
<%=  @friends %>
